$colors: (
  primary: ( // blue
    300: 216 87% 60%,
    400: 216 87% 40%,
    500: 216 87% 20%,
  ),
  secondary: ( // purple
    300: 277 50% 60%,
    400: 277 50% 40%,
    500: 277 50% 20%,
  ),
  accent: ( // red
    300: 358 72% 70%,
    400: 358 72% 53%,
    500: 358 72% 30%,
  ),

  neutral: (
    100: 0 0% 100%,
    200: 0 0% 87%,
    300: 0 0% 80%,
    400: 0 0% 70%,
    500: 0 0% 60%,
    600: 0 0% 50%,
    700: 0 0% 40%,
    800: 0 0% 30%,
    900: 0 0% 15%,  
  )
);